<form action="/signup">

    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom">

    <label for="prenom">Prenom</label>
    <input type="text" name="prenom" id="prenom">

    <label for="email">Email</label>
    <input type="text" name="email" id="email">

    <label for="password">mot de passe</label>
    <input type="text" name="password" id="password">


    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <input type="submit" value="inscription">
</form>