<% if (typeof(erreur) !=="undefined") { %> 
<p><%= erreur %></p>
    
    
    
    
    <% } %>
<form action="/signin" method="POST">


    <label for="email">Email</label>
    <input type="text" name="email" id="email">

    <label for="password">mot de passe</label>
    <input type="text" name="password" id="password">

    <input type="submit" value="Connexion">
</form>