<form action="/association/creation" method="POST">
    <label for="nom">
        Nom de votre association
        <input type="text" name="name">
    </label>
    <label for="adresse">
        Adresse social de votre association
        <input type="text" name="adresse">
    </label>
    <label for="horaire">
        Horaire de votre association
        <input type="text" name="horaire">
    </label>
    <label for="tags">
        tags
        <input type="text" name="tags">
    </label>
    <label for="description">
        Description de votre association
        <textarea name="" id="" cols="30" rows="10"></textarea>

    </label>
    <input type="submit" value="Valider">
</form>